default:
    suites:
        default:
            paths: [ %paths.base%/tests/features ]
            contexts:
                - JeanBeru\Context\RabbitMQContext:
                    host: rabbitmq
                    port: 5672
                    user: guest
                    password: guest
                    consumers:
                        myConsumer: [JeanBeru\Tests\Consumer\MyConsumer, execute]
